## Langkah 0 - Persiapan

In [ ]:
import pandas as pd
import numpy as np

## Langkah 1 - Memuat Data

In [ ]:
df = pd.read_csv('Titanic-Dataset.csv')

# Tampilkan 5 data teratas
df.head()

## Langkah 2 - Inspeksi Data
Anda dapat melakukan inspeksi singkat pada data untuk mendapatkan informasi ringkas yang diperlukan seperti pada Langkah 2 - Inspeksi Data pada Praktikum 1.

In [ ]:
# Silakan tambahkan kode inspeksi data di sini jika diperlukan
df.info()

In [ ]:
df.isnull().sum()

## Langkah 3 - Data Imputation

Strategi yang akan kita gunakan adalah:
- **Age** → Dikarenakan "Age" adalah data nominal, maka kita akan menggunakan strategi mean.
- **Cabin** → "Cabin" merupakan informasi terkait dengan nomor kabin penumpang. Disini kita akan berasumsi bahwa, seluruh penumpang yang tidak memiliki nomor kabin, merupakan penumpang yang tinggal di dek-dek kapal. Sehingga kita akan mensubtitusi data yang hilang dengan informasi "DECK".
- **Embarked** → "Embarked" merupakan informasi lokasi embarkasi penumpang. Hanya ada 2 data yang hilang disini. Dikarenakan data merupakan data nominal, maka kita dapat menggunakan modus (mode) untuk mensubtitusi data yang hilang.

In [ ]:
# Age - mean
df['Age'].fillna(value=df['Age'].mean(), inplace=True)

# Cabin - "DECK"
df['Cabin'].fillna(value="DECK", inplace=True)

# Embarked - modus
df['Embarked'].fillna(value=df['Embarked'].mode(), inplace=True)

## Langkah 4 - Validasi Hasil

In [ ]:
df.info()

In [ ]:
# Memastikan kembali apakah nilai yang diisikan sudah benar
df.head()